<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Ares Homepage</title>

<!-- css -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet">

<!-- template skin -->
<link id="t-colors" href="color/default.css" rel="stylesheet">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

<main role="main" id="main">

  <div class="block" v-for="category in categories">
    <div class="container">
      <div class="category">
        <b>
          {{ category.name }}
        </b>
      </div>
      <div class="row">
        <div class="col-sm-3" v-for="card in category.cards">
          <div class="card">
            <div class="card-horizontal" >
              <div class="img-square-wrapper"> <img class="" :src="'img/' + card.image"  :alt="card.alt"> </div>
              <div class="card-body"> <a :href="card.url">{{card.title}}</a> </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</main>

<div class="Evblock">
  <div class="container">
    <div class="firstheading" style="border-bottom: solid;	border-bottom-width:thin; border-bottom-color:#ada2a2; padding-bottom:12px;margin-bottom:12px;padding-top:20px"> <b>Environmental Safety</b> </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal" >
            <div class="img-square-wrapper"> <img class="" src="img/essr_training.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://www.essr.umd.edu/training"> &nbsp;Training </a> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/safety.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://www.essr.umd.edu/supervisors-safety-responsibilities" >&nbsp;Supervisor's Safety &nbsp;Responsibilities</a> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/forms.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://www.essr.umd.edu/forms">&nbsp;Forms and Permits</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="Phrblock">
<div class="container">
<div class="firstheading" style="border-bottom: solid;
	border-bottom-width:thin;
	border-bottom-color:#ada2a2;padding-bottom:12px;margin-bottom:12px;"> <b>Payroll and Human Resources</b> </div>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-horizontal" >
        <div class="img-square-wrapper"> <img class="" src="img/timeentry.png" alt="Card image cap"> </div>
        <div class="card-body"> <a href="https://phr.umd.edu/phrtimeentrymenu/menu">&nbsp;PHR Time Entry/Leave &nbsp;Reporting</a> </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-horizontal" >
        <div class="img-square-wrapper"> <img class="" src="img/KualiTime.png" alt="Card image cap"> </div>
        <div class="card-body"> <a href="https://ares.umd.edu/phr/"> &nbsp;PHR Transactional System</a> </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-horizontal">
        <div class="img-square-wrapper"> <img class="" src="img/I9.png" alt="Card image cap"> </div>
        <div class="card-body"> <a href="https://shib.idm.umd.edu/shibboleth-idp/profile/SAML2/Unsolicited/SSO?execution=e1s1"> &nbsp;I9 Complete </a> </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-horizontal">
        <div class="img-square-wrapper"> <img class="" src="img/earnings.png" alt="Card image cap"> </div>
        <div class="card-body"> <a href="https://phr.umd.edu/phrearningstatement/earningstatement">&nbsp;Bi-Weekly Earnings Statement</a> </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-horizontal" >
        <div class="img-square-wrapper"> <img class="" src="img/phr.png" alt="Card image cap"> </div>
        <div class="card-body"> <a href="https://phr.umd.edu/phrdataverification/dataverif?action=dataverif">&nbsp;Access Personal PHR &nbsp;Information</a> </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-horizontal">
        <div class="img-square-wrapper"> <img class="" src="img/report.png" alt="Card image cap"> </div>
        <div class="card-body" > <a href="https://far.umd.edu/far/">&nbsp;Outside Professional Activity &nbsp;(OPA) Report</a> </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-horizontal">
        <div class="img-square-wrapper"> <img class="" src="img/correction.png" alt="Card image cap"> </div>
        <div class="card-body"> <a href="https://phr.umd.edu/phrCorrectionsweb/Corrections?action=selsec">&nbsp;PHR Corrections</a> </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-horizontal">
        <div class="img-square-wrapper"> <img class="" src="img/applicant.png" alt="Card image cap" > </div>
        <div class="card-body"> <a href="https://ejobs.umd.edu/hr/sessions/new"> &nbsp;Applicant/Position &nbsp;System(eTerp2)</a> </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-horizontal" >
        <div class="img-square-wrapper"> <img class="" src="img/uhr.png" alt="Card image cap"> </div>
        <div class="card-body"> <a href="https://uhr.umd.edu/">&nbsp;UHR System</a> </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="Dbsblock">
  <div class="container">
    <div class="firstheading" style="border-bottom: solid;
	border-bottom-width:thin;
	border-bottom-color:#ada2a2;padding-bottom:12px;margin-bottom:12px;"> <b>Department of Business Services</b> </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal" >
            <div class="img-square-wrapper"> <img class="" src="img/homepage.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://www.dbs.umd.edu/">&nbsp;DBS HomePage</a> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/car.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="http://www.cars.umd.edu/cgi-bin/cars/carslogin.pl"> &nbsp;Car's System</a> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/travel.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://tcard.umd.edu/">&nbsp;Travel Card Mgmt System </a> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/postage.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://copier.umd.edu/"> &nbsp;Meter Postage Bills</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="Effortblock">
<div class="container">
  <div class="firstheading" style="border-bottom: solid;
	border-bottom-width:thin;
	border-bottom-color:#ada2a2;padding-bottom:12px;margin-bottom:12px; "> <b>Effort Reporting</b> </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-horizontal" >
          <div class="img-square-wrapper"> <img class="" src="img/admin.png" alt="Card image cap"> </div>
          <div class="card-body"> <a href="https://phr.umd.edu/phrA21Effortweb/A21Effort?action=selsec">&nbsp;Administrator Access </a> </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-horizontal">
          <div class="img-square-wrapper"> <img class="" src="img/faculty.png" alt="Card image cap"> </div>
          <div class="card-body"> <a href="https://phr.umd.edu/phrA21Effortweb/A21Effort?action=employeesel">&nbsp;Faculty/Employee Access </a> </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-horizontal">
          <div class="img-square-wrapper"> <img class="" src="img/effort.png" alt="Card image cap"> </div>
          <div class="card-body"> <a href="https://phr.umd.edu/phrA21Effortweb/docs/UMCP%20Effort%20Reporting%20Procedure%20Statemen%20eff07-01-2012-1.pdf"> &nbsp;Effort Certification Statement &nbsp;Effective 07/01/2012 </a> </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-horizontal">
          <div class="img-square-wrapper"> <img class="" src="img/report1.png" alt="Card image cap"> </div>
          <div class="card-body"> <a href="https://phr.umd.edu/phrA21Effortweb/docs/UMCP%20Effort%20Reporting%20Procedures%20eff07-01-2012-1.pdf">&nbsp;Reporting Procedures &nbsp;Effective 07/01/2012</a> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-horizontal" >
          <div class="img-square-wrapper"> <img class="" src="img/report2.png" alt="Card image cap"> </div>
          <div class="card-body"> <a href="https://phr.umd.edu/phrA21Effortweb/docs/UMCP_Quick_Reference_Effort_Reporting-2.pdf">&nbsp;Quick Reference Guide </a> </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="Facultyblock">
  <div class="container">
    <div class="firstheading" style="border-bottom: solid;
	border-bottom-width:thin;
	border-bottom-color:#ada2a2;padding-bottom:12px;margin-bottom:12px;"> <b>Faculty Services</b> </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal" >
            <div class="img-square-wrapper"> <img class="" src="img/umeg.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://umeg.umd.edu/">&nbsp;UMEG </a> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/courseeval.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://www.courseevalum.umd.edu/">&nbsp;CourseEvalUM</a> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/fac.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://www.faculty.umd.edu/">&nbsp;Faculty Info and Resources</a> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/id.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="FacultyId.html"> &nbsp;Faculty ID Service</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="Procureblock">
  <div class="container">
    <div class="firstheading" style="border-bottom: solid;
	border-bottom-width:thin;
	border-bottom-color:#ada2a2;padding-bottom:12px;margin-bottom:12px;"> <b>Procurement</b> </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal" >
            <div class="img-square-wrapper"> <img class="" src="img/web.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://bfs-lookup1.umd.edu/proweb/">&nbsp;Procurement Web System </a> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/procurement.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://pcard.umd.edu/">&nbsp;Procurement Card &nbsp;Management System </a> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/pro1.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://www.purchase.umd.edu/">&nbsp;Procurement and Supply &nbsp;HomePage </a> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/pro.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://www.purchase.umd.edu/pcard.html" >&nbsp;Procurement Card HomePage</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="Personalblock">
  <div class="container">
    <div class="firstheading" style="border-bottom: solid;
	border-bottom-width:thin;
	border-bottom-color:#ada2a2;padding-bottom:12px;margin-bottom:12px;padding-top:25px"> <b>Personal Services</b> </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal" >
            <div class="img-square-wrapper"> <img class="" src="img/web.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://bfs-lookup1.umd.edu/proweb/">&nbsp;Web URL Change </a> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/procurement.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="http://training.umd.edu/CalendarNOW.aspx?fromdate=12/4/2019&todate=1/2/2020&more=1/1/0001">&nbsp;Personal Training </a> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/pro1.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://www.umdrightnow.umd.edu/">&nbsp;Campus Information </a> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/pro.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://maps.umd.edu/map/" >&nbsp;Campus Map</a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/pro.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://identity.umd.edu//search" >&nbsp;Campus Directory</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="Otherblock">
  <div class="container">
    <div class="firstheading" style="border-bottom: solid;
	border-bottom-width:thin;
	border-bottom-color:#ada2a2;padding-bottom:12px;margin-bottom:12px;"> <b>Others</b> </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal" >
            <div class="img-square-wrapper"> <img class="" src="img/advisor.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="http://www.sis.umd.edu/catt/">&nbsp;Advisor Services </a> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/fiscal.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="http://otcads.umd.edu/bfa/" >&nbsp;Budget and Fiscal Analysis </a> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/sisreport.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://elf.umd.edu/elf/"> &nbsp;Electronic Forms</a> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/data.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://umd.service-now.com/itsupport?id=service&service=4f1aee7f37ae228041271f9543990ece">&nbsp;Data Administration</a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/KualiTime.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://kualifinancial.umd.edu/KFS/index.html">&nbsp;Kuali Financial System </a> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/sis.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://sis1.umd.edu/sis-reports/">&nbsp;SIS Reports </a> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/award.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://eso.umd.edu/osfa-ares/">&nbsp;Student Award System </a> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/sisreport.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://otc-1.umd.edu/frsweb/frsmenu.do">&nbsp;Financial Records System </a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/effort.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://um3270.umd.edu/servlet"> &nbsp;UM3270</a> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/web.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://umd.service-now.com/itsupport?id=service&service=b93df83f3708c20041271f9543990e84&t=so&cat_id=d41580fc6f16e20051281ecbbb3ee4cb"> &nbsp;WareHouse on the Web</a> </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper"> <img class="" src="img/phr.png" alt="Card image cap"> </div>
            <div class="card-body"> <a href="https://otc-2.umd.edu/irsweb/irs" > &nbsp;Interface Reconciliation &nbsp;System</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Core JavaScript Files --> 
<script src="js/jquery.min.js"></script>
<!--script src="js/bootstrap.min.js"></script-->
<script src="js/data.js"></script>
<script src="js/vue.js"></script>
<script src="https://umd-header.umd.edu/build/bundle.js?search=0&search_domain=&events=1&news=1&schools=1&admissions=1&support=1&support_url=&wrapper=&sticky=0"></script>
</body>
</html>
