a:hover,
a:focus {
    color:#333;
}


.con1 > div, .con2 > div, .con3 > div { 
	background-color: #4ACCD1;
}

.block{
	margin-top:30px;
}

.category{
    font-family: Bentonsanscondbold, serif;
	font-size:24px;
	font-weight: bold;
	color:#555555;
	border-bottom:solid;
	border-bottom-width:thin;
	border-bottom-color:#ada2a2;
	padding-bottom:12px;
	margin-bottom:12px;
	padding-top:20px;
}

.col-sm-3{
	padding-right:0;
}
.card{
	background-color: white;
}
.card-horizontal{
	display:flex;
	flex: 1 1 auto;
    font-family: bentonsansregular, serif;
border-style: solid;
	border-width: thin;
	border-color:lightgrey;
	max-height:75px;
}
.card-body{
    font-family: bentonsansregular, serif;
    font-size:18px;
}

img{
	height:72px;
}

.service-icon span {
	color: #4ACCD1;
}

.row{
	padding-top:10px;
}
